<%- include('partials/header') %> <%- include('partials/homenavbar') %>
<body>
  <div class="container marginTop marginBottom">
    <div class="row">
      <div class="col-lg-8 col-md-6 col-sm-3 col-xs-3 p-2 m-auto">
        <div class="card">
          <img
            src="<%= article.imageUrl %>"
            alt="imagen no encontrada"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title"><%= article.title %></h5>
            <p class="card-text"><%- article.body %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<%- include('partials/footer') %>
